{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="main-todo-input-wrap">
            <div class="main-todo-input fl-wrap">
                <div class="main-todo-input-item"> <input type="text" id="content" placeholder="What will you do today?"> </div> <button id="submit" class="add-items main-search-button">ADD</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-todo-input-wrap">  
            <div class="main-todo-input fl-wrap todo-listing">
                <ul id="list" class="list">
                </ul>
            </div>
        </div>
    </div>
</div>
{# <progress id="file" value="($(":checkbox:checked").length)" max="${i}"> </progress> max = count i #}
{% endblock %}
{% block js %}
<script>
    
    $(document).ready(function(){
    var data = `{{ data }}`;
    var keyId = `{{ keyId }}` ;

    var fixdata = data.replace(/&quot;/g,'"').replace(/,{/g,'#{').slice(1,-1).slice(1,-1);
    console.log(fixdata);
    console.log(typeof fixdata);
    
   /*   if (fixabc == null) {
          console.log('null');
      }
      else { 
   for(let i = 0; i <fixabc.length; i++) {
        if(fixabc[i].myWork)
          $("#list").append(`<li id='${fixabc[i].id}'><input class='checkbox' type='checkbox' onclick='check(${fixabc[i].id})' value='${fixabc[i].checkedbox}' /> <span class='todo-text'> ${fixabc[i].myWork} </span>
           <a class='remove text-right'><i class='fa fa-trash' onclick="deleteList(${fixabc[i].id})"></i></a>
    <hr>
</li>`);
      }
      }    */
//
    $("#submit").click(function(){
        var content,chkValue;
        var id = Date.now();
        content = $("#content").val();
        chkValue = $('#checkbox').is(':checked');
        $.post("/", { id : id , myWork: content , checkedbox: chkValue } ,  (data) => { 
           var rowForm = `<li id='${id}'><input id='checkbox' class='checkbox' type='checkbox' value='${chkValue}' onclick=check(${id}) /> <span class='todo-text'> ${data} </span>
           <a class='remove text-right'><i class='fa fa-trash' onclick="deleteList(${id})"></i></a>
    <hr> 
</li>`
           $("#list").append(rowForm);  
        });
    });
    });
// ============================================================================


    function check(chk){
        const chek = `${fixabc[chk].checkedbox }`;
        $.post("/checkbox", { checkbox  :  chek });
    }
   function deleteList(listId) {
                let deleteList = document.getElementById(listId);
                console.log(listId)
                console.log(deleteList)
                list.removeChild(deleteList);
                $.post("/post", { delId : listId });
 }
</script>
{% endblock %}