{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="main-todo-input-wrap">
            <div class="main-todo-input fl-wrap">
                <div class="main-todo-input-item"> <input type="text" id="content" placeholder="What will you do today?"> </div> <button id="submit" class="add-items main-search-button">ADD</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-todo-input-wrap">  
            <div class="main-todo-input fl-wrap todo-listing">
                <ul id="list" class="list">
                </ul>
            </div>
        </div>
    </div>
</div>
{# <progress id="file" value="($(":checkbox:checked").length)" max="${i}"> </progress> max = count i #}
{% endblock %}
{% block js %}
<script>
    /* lay du lieu tu server */
    var data = `{{ data | dump | safe }}`;
     /* convert kieu string sang obj (array => json) */
    data = JSON.parse(data);
    {# console.log(JSON.stringify(data,2,2)); #}
    
    $(document).ready(function() {
        for (var i = 0 ; i < data.length ; i++) {
            $("#list").append(`
                <li id='${data[i].id}'>
                    <input  id='checkbox${data[i].id}' type='checkbox' onclick='check(${data[i].id})' value='${data[i].checkbox}' ${data[i].check} /> 
                    <span id='content_${data[i].id}' class='todo-text'> ${data[i].myWork} </span>
                    <a class='remove text-right'>
                        <i class='fa fa-trash' onclick="deleteList(${data[i].id})"></i>
                    </a>
                    <hr>
                </li>`);
        }
    });
     //              ONCLICK submit 
// ============================================================================
    $("#submit").click(function() {
        let content,chkValue = 0;
        var id = Date.now();
        var checked = "";
        content = $("#content").val();
        $.post("/", { id : id , myWork: content , checkbox: chkValue, check : checked} ,  (data) => { 
            var rowForm = `
            <li id='${id}'>
                <input id='checkbox${id}' class='checkbox' type='checkbox' value='${chkValue}'  onclick='check(${id})'      ${checked}) />
                <span id='content_${id}' class='todo-text'> ${data} </span>
                <a class='remove text-right'>   
                    <i class='fa fa-trash' onclick="deleteList(${id})"></i>
                </a>
                <hr> 
            </li>`
            $("#list").append(rowForm);  
        });
    });

        // Onclick check
// ===================================================
    function check(chk){    
        console.log(data) 
        for (var i = 0; i < data.length; i++) { // Tìm phần nội dung dựa theo ID 
            if (data[i].id == chk) {            
                var contenta = data[i].myWork;
                var checkValue = data[i].checkbox;  // Gán nội dung cho 1 biến content mới
                console.log(contenta);
                console.log(checkValue);
            }
        }
        var checkstt = document.querySelector(`#checkbox${chk}`).checked;
        $.post('/checkbox', { checkStatus : checkstt , myWork : contenta,  idCheck : chk, checkbox : checkValue }) // Post to server 
    }   

    // DELETE KEY 
    function deleteList(listId) { 
        let deleteList = document.getElementById(listId); 
        console.log(listId) 
        console.log(deleteList)
        list.removeChild(deleteList);
        $.post("/post", { delId : listId});
    }
</script>
{% endblock %}