{% extends "home.html" %}

{% block table %}
<br/>
<script>
var i = 1;
var abc = `{{ abc }}`;
console.log(abc);
console.log(typeof abc)
var fixabc = JSON.parse(abc.replace(/&quot;/g,'"'));
console.log(fixabc);
{# var abcd = fixabc.split(','); #}
{# console.log(abcd); #}
$(document).ready(function(){ 
       if (fixabc[i].myWork == null) {
          console.log('null');
      }
      else { 
    for(i = 0; i <fixabc.length; i++) {
          $("#list").append(`<li id='list${i}'><input class='checkbox' type='checkbox' onclick='check(${i})' value='${fixabc[i].checkedbox}' /> <span class='todo-text'> ${fixabc[i].myWork} </span>
           <a class='remove text-right'><i class='fa fa-trash' onclick="deleteList(${i})"></i></a>
    <hr>
</li>`);
                console.log(i)
      }
      }
});
function deleteList(listId) {
                deleteList = document.getElementById(`list${i}`);
                console.log(deleteList); 
                list.removeChild(deleteList);
        }   
</script>
{% endblock %}
